.todoItem {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: white;
  margin: 6px 4px;
  min-height: 40px;
  border-radius: 12px;
}

.todoItem p {
  flex: 1;
  padding-bottom: 5px;
}

.todoItem--done {
  text-decoration: line-through;
}
